:javascript
  // these need to be set in a rb parsed file
  window.main_color = '#{@theme.main_color}';
  window.support_color = '#{@theme.support_color}';
  window.background_color = '#{@theme.background_color}';
  window.menudata = #{@menudata};
  window.menuconfig = #{@menuconfig};
  window.channelsettings = #{@channelsettings};

  window.kalturaPartnerId = #{@kalturaPartnerId};
  window.kalturaUiConfigId = #{@kalturaUiConfigId};

= javascript_include_tag "nabu_themes/geo/geo"
= stylesheet_link_tag "nabu_themes/geo/geo", media: "all", "data-turbolinks-track" => true, "async" => true


/ le video overlay
%div#video_player
  / add close button
  %div#close_button.btn.btn-default x

  = render :partial => "shared/player/video", locals: { height: '100%' }

/ le map (and as you notice, the only actual html here)
#map

/ Google script
%script{:src=>"https://maps.googleapis.com/maps/api/js?key=#{GEO_GOOGLE_API_KEY}&callback=initMap", :async=>true, :defer=>true}

/ Any and all overlays on top of the map; should go under the video
/.well.info_block1
/  %h2
/    Gazette van Antwerpen
/    %br
/    %small turnhoutsebaan

/.well.info_block2
/  %h6
/    Lorem ipsum victor dolit fortuna esse quot mandar.
/    %br
/    Non in volit voluba besse.
