!!!
%head

  / meta ?

  - if @program
    %title= @program.title

  :javascript
    // these need to be set in a rb parsed file
    window.main_color = '#{@theme.main_color}';
    window.support_color = '#{@theme.support_color}';
    window.background_color = '#{@theme.background_color}';
    window.menudata = #{@menudata};
    window.menuconfig = #{@menuconfig};
    window.channelsettings = #{@channelsettings};
    window.programs = #{@filtered_programs.to_json};

    window.kalturaPartnerId = #{@kalturaPartnerId};
    window.kalturaUiConfigId = #{@kalturaUiConfigId};

  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true, "async" => true

  // Firebase
  = javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.2/firebase.js"
  = javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.1/firebase-app.js"
  = javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.1/firebase-auth.js"
  = javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.1/firebase-database.js"
  = javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.1/firebase-messaging.js"

  = javascript_include_tag "nabu_themes/mixer/mixer"
  = stylesheet_link_tag "nabu_themes/mixer/mixer", media: "all", "data-turbolinks-track" => true, "async" => true
  = stylesheet_link_tag "nabu_themes/mixer/control", media: "all", "data-turbolinks-track" => true, "async" => true

%body
  = yield
