!!!
%head

  / meta ?
  %meta{:name => "viewport", :content => "width=650, initial-scale=0.6, max-scale=0.6" }

  - if @program
    %title= @program.title
  - else
    %title Sense Studios

  :javascript

    // (Marduq Settings &c)
    // these need to be set in a rb parsed file
    window.main_color = '#{@theme.main_color}'
    window.support_color = '#{@theme.support_color}'
    window.background_color = '#{@theme.background_color}'
    window.menudata = #{@menudata}
    window.menuconfig = #{@menuconfig}
    window.channelsettings = #{@channelsettings}
    window.programs = #{@filtered_programs.to_json}

  // Stylesheets
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true, "async" => true
  = stylesheet_link_tag "nabu_themes/sense/site_content", media: "all", "data-turbolinks-track" => true, "async" => true
  = stylesheet_link_tag "nabu_themes/sense/sense", media: "all", "data-turbolinks-track" => true, "async" => true

  // I had this running with an inclusion, but that seems not to work
  = javascript_include_tag "/assets/jquery.js"
  = javascript_include_tag "/assets/jqueryui/jquery-ui-1.11.4.min.js"
  = javascript_include_tag "/assets/jquery-touch-punch/jquery.ui.touch-punch.min.js"
  = javascript_include_tag "/assets/threejs/three.js"
  = javascript_include_tag "/assets/tween/tween.js"

  // Firebase
  =# javascript_include_tag "/assets/firebase/firebase.js"
  =# javascript_include_tag "/assets/firebase/firebase-app.js"
  =# javascript_include_tag "/assets/firebase/firebase-auth.js"
  =# javascript_include_tag "/assets/firebase/firebase-database.js"
  =# javascript_include_tag "/assets/firebase/firebase-messaging.js"

  = javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.2/firebase.js"
  = javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.2/firebase-app.js"
  = javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.2/firebase-auth.js"
  = javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.2/firebase-database.js"
  = javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.2/firebase-messaging.js"
  =# javascript_include_tag "/assets/nabu_themes/_shared/firebase/firebase.js"

  // Mixer
  = javascript_include_tag "/assets/nabu_themes/_shared/mixer/gif/libgif.js"
  = javascript_include_tag "/assets/nabu_themes/_shared/mixer/gif/rubbable.js"
  = javascript_include_tag "/assets/nabu_themes/_shared/mixer/settings.js"
  = javascript_include_tag "/assets/nabu_themes/_shared/mixer/modules/bpm.js"
  = javascript_include_tag "/assets/nabu_themes/_shared/mixer/modules/filemanager.js"
  = javascript_include_tag "/assets/nabu_themes/_shared/mixer/modules/compositionmanager.js"
  = javascript_include_tag "/assets/nabu_themes/_shared/mixer/glrenderer.js"
  = javascript_include_tag "/assets/nabu_themes/sense/main.js"


  // Sense
  // = javascript_include_tag "nabu_themes/sense/sense"


%body
  = yield
