!!!
%head

  / meta ?
  %meta{:name => "viewport", :content => "width=650, initial-scale=0.6, max-scale=0.6" }

  - if @program
    %title= @program.title
  - else
    %title Sense Studios

  :javascript

    // (Marduq Settings &c)
    // these need to be set in a rb parsed file
    window.main_color = '#{@theme.main_color}'
    window.support_color = '#{@theme.support_color}'
    window.background_color = '#{@theme.background_color}'
    window.menudata = #{@menudata}
    window.menuconfig = #{@menuconfig}
    window.channelsettings = #{@channelsettings}
    window.programs = #{@filtered_programs.to_json}

  // Stylesheets
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true, "async" => true
  = stylesheet_link_tag "nabu_themes/sense/site_content", media: "all", "data-turbolinks-track" => true, "async" => true
  = stylesheet_link_tag "nabu_themes/sense/sense", media: "all", "data-turbolinks-track" => true, "async" => true



%body
  = yield
