!!!
%head

  - if @program
    %title= @program.title
    
    - owner = User.find( @program.client_id )
    - if !owner.account_id.nil?
      - @account_id = User.find( owner.id ).account_id
    - else
      - @account_id = owner.id

  -# translations and client settings
  :javascript
    // translations
    window.t = #{raw @t.to_json}
    
    // account and program    
    program_id = "#{@program.id}";
    client_id = "#{@program.client_id}";
    account_id = "#{@account_id}";    
    
    // tracking
    analytics_urchin = "#{owner.urchin}";
    analytics_woopra_id  = "#{owner.woopra_id}"
    
  = stylesheet_link_tag "nabu_themes/sense/sense", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "nabu_themes/sense/sense", "data-turbolinks-track" => true
  = csrf_meta_tags
      
%body
  #wrapper
    = render 'nabu_themes/sense/header'
    = render 'nabu_themes/sense/menu'
    = yield
    = render 'nabu_themes/sense/footer'