-### Video Player ###

.video_background
  -#.moar_button.over_glow
  -#  Meer videos
  .video_background_hider#video_container
  = render :partial => "shared/player/video", locals: {height:''}
  
  #controls.control_holder.hidden
    = render partial: 'nabu_themes/destandaard/controls'
    

-### TOP: Nav and Menu ###

.top
  .custom_navbar
    .custom_navbar_menu.custom_navbar_left
      %span.glyphicon.glyphicon-menu-hamburger.background-color
    .custom_navbar_brand
      = link_to "javascript:", :target=>"_top" , :class => 'navbar-brand primary-color ' do
        = image_tag @theme.logo, :class => 'pull-left primary-border-color'                
        %h1

      
  
  .side_menu.primary-border-color
    .side_menu_header
      %i.fa.fa-close.primary-background-color
    %div.tabpanel{:role=>"tabpanel"}
      %ul#tabs.nav.nav-tabs.nav_tabs_custom.primary-bottom-border-color-active{:role=>"tablist"}
        %li.tabtitlewrapper.primary-border-color.active{:role=>"presentation"}
          %a.primary-border-color-active.primary-background-color-hover{:href=>"#info", :aria=>{:controls=>"info"}, :role=>"tab" , :data=>{:toggle=>"tab"}} 
            %i.fa.fa-info-circle.primary-color
        %li.tabtitlewrapper.primary-border-color{:role=>"presentation"}
          %a.primary-border-color-active.primary-background-color-hover{:href=>"#share", :aria=>{:controls=>"share"}, :role=>"tab" , :data=>{:toggle=>"tab"}} 
            %i.fa.fa-share-alt.primary-color
        %li.tabtitlewrapper.primary-border-color{:role=>"presentation"}
          %a.primary-border-color-active.primary-background-color-hover{:href=>"#related", :aria=>{:controls=>"related"}, :role=>"tab" , :data=>{:toggle=>"tab"}} 
            %i.fa.fa-lightbulb-o.primary-color   

      
      .tab-content
        #info.tab-pane.fade.in.active{:role=>"tabpanel",}
          -# Js Set info #
        #share.tab-pane.fade{:role=>"tabpanel",}
          = render partial: 'nabu_themes/gazetvanantwerpen/share'
        /#comments.tab-pane.fade{:role=>"tabpanel",}
          
        #related.tab-pane.fade{:role=>"tabpanel",}
          = render partial: 'nabu_themes/gazetvanantwerpen/latestvideos'

-### MIDDLE: brandbox ###

.middle
  .brandbox
    .nav_buttons.left_button
      %span
        %span.glyphicon.glyphicon-chevron-left.custom_navigation_video.glyph.primary-color-hover

    .header{:style=>"margin-left: 9%;"}
      %ul.cat_group

    .content

    .nav_buttons.right_button
      %span
        %span.glyphicon.glyphicon-chevron-right.custom_navigation_video.glyph.primary-color-hover

-### BOTTOM: info and recommended ###


                      



-### EXTRAs: brandbox ###
=# @theme.to_yaml

-# this could be moved to the actual themes using shapeshift
%script{:src=>'/assets/jquery-shapeshift/jquery.shapeshift.js'}
= javascript_include_tag "nabu_themes/gazetvanantwerpen/gazetvanantwerpen"

:javascript 
  var programs = #{@programs.to_json}
  var menudata = #{@menudata}

= stylesheet_link_tag "nabu_themes/gazetvanantwerpen/gazetvanantwerpen", media: "all", "data-turbolinks-track" => true, "async" => true

:css
  .primary-color { color: #{@theme.main_color } !important; } 
  .primary-color-links { color: #{@theme.main_color } !important; text-decoration: underline; } 
  .background-color { background-color: #{@theme.background_color } !important; }
  .primary-border-color { border-color: #{@theme.main_color } !important; } 
  .primary-background-color { background-color: #{@theme.main_color } !important; }
  .primary-background-color-hover:hover { background-color: #{@theme.main_color } !important; } 
  .primary-color-hover:hover { color: #{@theme.main_color } !important; } 
  .active .primary-border-color-active { border-color: #{@theme.main_color }!important; border-bottom-color: transparent!important; }
  .primary-bottom-border-color-active { border-color: #{@theme.main_color }!important; }
  .primary-border-color { border-color: #{@theme.main_color }!important; }
  #tabs .active { background-color: #{@theme.main_color } !important; }


  .secondary-color { color: #{@theme.support_color } !important; }
  .secondary-color-links { color: #{@theme.support_color } !important; text-decoration: underline; }

/*
:javascript
  $(document).ready( function() {
    var background;
    background = '#{@theme.main_color }';
    background = background.replace('#','');
    r = parseInt(background.substring(0,2), 16);
    g = parseInt(background.substring(2,4), 16);
    b = parseInt(background.substring(4,6), 16);

    result = 'rgba('+r+','+g+','+b+','+ 50 +')';
    console.log("background-color" + result);
  });
    
*/