
// Firebase
= javascript_include_tag "https://www.gstatic.com/firebasejs/4.9.0/firebase.js"
= javascript_include_tag "https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js"
= javascript_include_tag "https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"
= javascript_include_tag "https://www.gstatic.com/firebasejs/4.9.0/firebase-database.js"
= javascript_include_tag "https://www.gstatic.com/firebasejs/4.9.0/firebase-messaging.js"

// Gif source helpers
= javascript_include_tag "/assets/nabu_themes/_shared/mixer/gif/libgif.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer/gif/rubbable.js"

// SOURCES
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/sources/_source.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/sources/GifSource.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/sources/VideoSource.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/sources/SolidSource.js"

// MODULES
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/modules/Chain.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/modules/Mixer.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/modules/Switcher.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/modules/Output.js"

// CONTROLLERS
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/controllers/GamePad.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/controllers/FireBaseControl.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/controllers/NumPadBPMMixerControl"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/controllers/MidiController"

// EFFECTS
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/effects/BlackAndWhite.js"

// ADD-ONS
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/addons/BPM.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/addons/FileManager.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/addons/GiphyManager.js"

// RENDERER
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/GlRenderer.js"

:javascript

  $(function() {
    // create renderer
    var renderer = new GlRenderer();

    // create sources
    var testSource1 = new GifSource(   renderer, { src: '//nabu.sense-studios.com/assets/nabu_themes/sense/slowclap.gif' } );
    var testSource2 = new VideoSource( renderer, { src: '//nabu-dev.s3.amazonaws.com/uploads/video/556ce4f36465764bdf590000/720p_h264.mp4' } );
    var testSource3 = new VideoSource( renderer, { src: '//nabu-dev.s3.amazonaws.com/uploads/video/556ce4f36465764bdf590000/720p_h264.mp4' } );
    var testSource4 = new VideoSource( renderer, { src: '//nabu-dev.s3.amazonaws.com/uploads/video/556ce4f36465764bdf590000/720p_h264.mp4' } );
    var output = new Output( renderer, testSource1 )

    renderer.init();         // init
    renderer.render();       // start update & animation
  })

// Render menu
#sidebar
  #button-home.btn.btn-material-grey-100
    .glyphicon.glyphicon-home
  #button-content.btn.btn-material-grey-800
    .glyphicon.glyphicon-align-justify
  #button-play.btn.btn-material-grey-800
    .glyphicon.glyphicon-play
  #button-beat.btn.btn-material-sense-yellow
    BEAT
  #button-cat.btn.btn-material-sense-yellow
    SCRT
  #button-blend.btn.btn-material-blue-600
    BLND
  #button-mix.btn.btn-material-blue-600
    MIX
  #button-cont.btn.btn-material-sense-yellow
    VID

  #button-fullscreen.btn.btn-material-grey-800
    .glyphicon.glyphicon-resize-full

  .background

#content{"data-is_visible"=>"true"}
  // content goes here
  // content is taken from the channel settings
  // untill we get bored from that :p


#footer
  #typer
    %h1.title
      %span.small Now playing:
      %span#program_title collection of videos from the account
    %h2.subtitle#program_description
      Actually Some have their crosses and their golden gates.
      %br
      Well she is the grace I wear when I lose my faith
    #logo_smaller
      = image_tag 'nabu_themes/sense/sense_logo_smaller.png'
    .background

// add a vignet
#vignet

%canvas#glcanvas
