// -----------------------------------------------------------------------------

%canvas#glcanvas

// Firebase
=# javascript_include_tag "/assets/firebase/firebase.js"
=# javascript_include_tag "/assets/firebase/firebase-app.js"
=# javascript_include_tag "/assets/firebase/firebase-auth.js"
=# javascript_include_tag "/assets/firebase/firebase-database.js"
=# javascript_include_tag "/assets/firebase/firebase-messaging.js"

=# javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.2/firebase.js"
=# javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.2/firebase-app.js"
=# javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.2/firebase-auth.js"
=# javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.2/firebase-database.js"
=# javascript_include_tag "https://www.gstatic.com/firebasejs/3.6.2/firebase-messaging.js"
=# javascript_include_tag "/assets/nabu_themes/_shared/firebase/firebase.js"

// Mixer
= javascript_include_tag "/assets/nabu_themes/_shared/mixer/gif/libgif.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer/gif/rubbable.js"
=# javascript_include_tag "/assets/nabu_themes/_shared/mixer/settings.js"
=# javascript_include_tag "/assets/nabu_themes/_shared/mixer/modules/bpm.js"
=# javascript_include_tag "/assets/nabu_themes/_shared/mixer/modules/filemanager.js"
=# javascript_include_tag "/assets/nabu_themes/_shared/mixer/modules/compositionmanager.js"
=# javascript_include_tag "/assets/nabu_themes/_shared/mixer/glrenderer.js"
=# javascript_include_tag "/assets/nabu_themes/sense/main.js"

=# javascript_include_tag "/assets/nabu_themes/_shared/mixer2/shaders"

= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/sources/_source.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/sources/Gifsource.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/sources/Videosource.js"

= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/modules/Chain.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/modules/Mixer.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/modules/Output.js"

= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/controllers/Bpmcontrol.js"

=# javascript_include_tag "/assets/nabu_themes/_shared/mixer2/effects/Output.js"

= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/addons/Filemanager.js"
=# javascript_include_tag "/assets/nabu_themes/_shared/mixer2/addons/Sourcecontrol.js"


= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/Glrenderer.js"
= javascript_include_tag "/assets/nabu_themes/_shared/mixer2/main.js"


// Sense
// = javascript_include_tag "nabu_themes/sense/sense"

// Render Shaders
=# render "../assets/javascripts/nabu_themes/_shared/mixer/shaders/blendmodes2"
