!!! 5
%html
  %head

    -# favicon
    /%link{"rel"=>"icon", "type"=>"image/png", "href"=>"/assets/favicon/Favicon_design.png"}
    %link{:href => "#{@whitelabel['favicon']}", :rel => "icon", :type => "image/png"}/
    %link{"rel"=>"stylesheet", "href"=>"http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700", "type" => "text/css"}

    :javascript
      // YOU ARE IN THE NABU APPLICATION CONTROLLER
      var test = "#{@program.id}";
      window.t = #{raw @t.to_json}
      if (!window.console) console = {log: function() {}};   // ie8 fix

    -# meta-tags and viewport
    = csrf_meta_tags
    %meta{"name"=>"apple-mobile-web-app-capable", "content"=>"yes"}
    %meta{"name"=>"apple-mobile-web-app-status-bar-style", "content"=>"black-translucent"}
    %meta{"name"=>"viewport", "content"=>"width=device-width, initial-scale=0.75, maximum-scale=0.75, minimum-scale=0.75, user-scalable=no"}
    %meta{"http-equiv"=>"X-UA-Compatible", "content"=>"IE=9"}

    -# set current program, if any
    - if @program

      :javascript
        var program_id = "#{@program.id}";
        var channel = "#{@theme.title}"
        var channel_id = "#{@theme.id}"
        var show_site = true
        if ( window.location.hash != "" ) {
          program_id = window.location.hash.substring(1, 100)
          var show_site = false // toggles the site
        }
        var clipcard_id = "#{@clipcard.id unless @clipcard.nil?}";
        var client_id = "#{@program.client_id}" ;
        var account_id = "#{@account_id}" ;

      %title
        =# @program.title
        = @theme.title

      %meta{"name"=>"description", "content"=>"Marduq - Nabu - #{@program.meta.moviedescription.description.to_s}" }
      %meta{"name"=>"keywords", "content"=>"Marduq - Nabu #{@program.title} #{@program.tags.join(' ')}" }
      %meta{"name"=>"author", "content"=>"Sense-Studios"}

      %meta{"property"=>"og:image", "content"=> @program.program_items[0].asset.thumbnail_url  }
      %meta{"property"=>"og:url", "content"=> request.protocol + request.host_with_port + request.fullpath }
      %meta{"property"=>"og:title", "content"=> @program.title }
      %meta{"property"=>"og:description", "content"=> @program.meta.moviedescription.description.to_s }

    - else

      %title
        Marduq - Nabu

      %meta{"name"=>"description", "content"=>"Marduq - Nabu" }
      %meta{"name"=>"keywords", "content"=>"Marduq - Nabu" }
      %meta{"name"=>"author", "content"=>"Sense-Studios" }

      %meta{"property"=>"og:image", "content"=>"" }
      %meta{"property"=>"og:url", "content"=> request.protocol + request.host_with_port + request.fullpath }
      %meta{"property"=>"og:title", "content"=>"Marduq - Nabu" }
      %meta{"property"=>"og:description", "content"=>"" }

  %body

    :javascript
      var analytics_owner = "#{@owner.id}"
      var analytics_urchin = "#{@owner.urchin}"
      var analytics_woopra_id = "#{@owner.woopra_id}"

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true, "async" => true

    :css
      = @custom_style

    <!--[if gt IE 9]><!-->
    %link{"rel"=>"stylesheet", "type"=>"text/css", "href"=>"/assets/ie8_fixes.css"}
    <!--<![endif]-->


    = javascript_include_tag "application"

    = yield
