:javascript

  // these need to be set in a rb parsed file
  window.main_color = '#{@theme.main_color}';
  window.support_color = '#{@theme.support_color}';
  window.background_color = '#{@theme.background_color}';
  window.menudata = #{@menudata};
  window.menuconfig = #{@menuconfig};
  window.channelsettings = #{@channelsettings};
  window.firstprogramid = "#{@program.id}"
  window.firstprogramtitle = "#{@program.title}"

  window.kalturaPartnerId = "#{@kalturaPartnerId}";
  window.kalturaUiConfigId = "#{@kalturaUiConfigId}";

= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/7.2.0/lazyload.transpiled.min.js"
= javascript_include_tag "nabu_themes/ur/ur"
= stylesheet_link_tag "nabu_themes/ur/ur", media: "all", "data-turbolinks-track" => true, "async" => true

.header.text-center.background-color
  .container
    .row
      .col-sm-6.text-left
        = image_tag @theme.logo, :class => 'logo'
        .brand
          = @theme.title
          /\ /
          /%span.secondary-color VIDEO

      .col-sm-6.text-right
        = link_to "Home", "#home", :class=>'nav-link main-color'
        = link_to "Portfolio", "#portfolio", :class=>'nav-link main-color'
        = link_to "Something", "#something", :class=>'nav-link main-color'
        = link_to "Something Else", "#something_else", :class=>'nav-link main-color'
    .ur-nav-bar
    .ur-nav-bar-collapse

.video_bar.background-color

/ actual site strts here
.container

  .row
    .video_container
      %iframe#video_frame{ :allowfullscreen=>true, :frameborder=>'0', :src=>"" }
      .title_container
        %h1
          %small loading ...
          %br
          getting information from server...



  .row
    .col-md-12.text-center

      %br
      %h1
        = @theme.title
      %p.decorative= @theme.description

      / lazyloading ?

      /= @theme.logo
      /= @theme.contact
      /= @theme.title
      /=

      / @menudata

      %br

  .row

    - JSON.parse(@menudata)['menu'].each do |menu|
      .col.sm-12.category_container
        %h2.category_container_nam.secondary-color= menu['name']
        .videoitems
          - menu['items'].each do |item|
            - program = @filtered_programs.select{ |x| x[:id] == item['id']}.first
            - program_title = ""
            - program_title = program[:title] unless program.nil?
            .videoitem{'data-id':item['id'], 'data-category':menu['name'], 'data-title':program_title }
              .imageholder
                .play_button
                  .i.fa.fa-play
                .gradient_overlay
                = image_tag '', 'data-original': item['thumb'], width: '100%', height: 'auto';
              %h3= program_title
              %p.description.secondary-color= program[:description].truncate(64).html_safe unless program.nil?
